<div class="container">
  <a class="home-link" href="/posts/new">Create a Post</a>
  <a class="home-link" href="/posts">View All Posts</a>
  <a class="home-link" href="/tags/edit">Edit Tags</a>
</div>
